.header__nav {
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    background-color: none;
    @media (max-width: 1279px) {
        padding: 20px 40px;
    }
}
.header__logo {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.header__logo-item {
    text-decoration: none;
    font-size: 1.625rem;
    font-weight: 700;
}
.header__library {
    color: var(--brand-color);
}
.header__paicpe {
    color: var(--light-color);
}
.header__menu {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease-in;
}
.header__menu-item {
    margin: 5px 7.5px;
    position: relative;
    list-style-type: none;
}
.header__menu-link {
    font-family: var(--secondary-font);
    color: var(--light-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease-in;   
}
.header__burger {
    display: none;
}

/* Responsive Design */
@media (max-width: 991px) {
    .header__nav {
        padding: 20px 24px;
        @media (min-width: 768px) {
            padding: 20px 32px;
        }
    }
    .header__container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
        margin: 0;
    }
    .header__burger {
        margin: 12px 8px;
        display: block;
        position: relative;
        width: 24px;
        height: 16px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .header__burger-line {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        opacity: 1;
        background-color: var(--light-color);
        transition: opacity 0.2s ease, background-color 0.2s ease;
    }
    .header__burger-line:nth-child(1) {
        transform: translateY(7px);
        transition: transform 0.2s ease;
    }
    .header__burger-line:nth-child(2) {
        transform: translateY(0);
    }
    .header__burger-line:nth-child(3) {
        transform: translateY(-7px);
        transition: transform 0.2s ease;
    }
    .header__menu {
        display: none;
    }

    /* Mobile menu open state */
    .header__nav.open {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: var(--light-color);
        overflow: scroll;
    }
    .header__nav.open .header__paicpe {
        color: var(--dark-color);
    }
    .header__nav.open .header__menu {
        margin: 0;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header__nav.open .header__menu-link {
        color: var(--dark-color);
    }
    /* Burger animation */
    .header__burger.active .header__burger-line:nth-child(1) {
        transform: translateY(0) rotate(-45deg);
        background-color: var(--dark-color);
    }
    .header__burger.active .header__burger-line:nth-child(2) {
        opacity: 0;
    }
    .header__burger.active .header__burger-line:nth-child(3) {
        transform: translateY(0) rotate(45deg);
        background-color: var(--dark-color);
    }
}