.hero {
    padding: 100px 0 130px;
    @media (min-width: 768px) {
        padding: 145px 0 210px;
    }
    @media (min-width: 992px) {
        padding: 190px 0 290px;
    }

    .hero__container {
        padding: 0 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 768px) {
            padding: 0 32px;
        }
        @media (min-width: 992px) {
            padding: 0 40px;
        }
        @media (min-width: 1280px) {
            padding: 0 15px;
        }

        .hero__title {
            display: block;
            position: relative;
            text-align: center;
            color: var(--light-color);
            justify-content: center;
            font-weight: 600;
            font-size: 3.75rem;
            @media (min-width: 768px) {
                font-size: 4.6875rem;
            }
            @media (min-width: 992px) {
                font-size: 5.625rem;
            }
        }
        .hero__description {
            margin: 35px 0 0;
            display: block;
            position: relative;
            font-family: var(--secondary-font);
            text-align: center;
            color: var(--light-color);
            justify-content: center;
            font-weight: 400;
            font-size: 1.125rem;
            @media (min-width: 992px) {
                margin: 40px 0 0;
            }
        }
        .hero__buttons {
            margin: 50px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media (min-width: 408px) {
                flex-direction: row;
            }

            .hero__button {
                margin: 10px;
                padding: 16px 32px;
                display: block;
                position: relative;
                text-decoration: none;
                border-radius: var(--btn-border-radius);
                font-weight: 700;
                font-size: 0.9625rem;
                text-align: center;
            }
            .hero__button--primary {
                background-color: var(--brand-color);
                color: var(--light-color);
                transition: background-color 0.2s ease-in, color 0.2s ease-in;

                &:hover {
                    background-color: var(--link-hover-color-light);
                    color: var(--btn-hover-text-color);
                }
            }
            .hero__button--secondary {
                background-color: rgba(255, 255, 255, 0.21);
                color: var(--light-color);
                transition: background-color 0.2s ease-in, color 0.2s ease-in;
                
                &:hover {
                    background-color: var(--link-hover-color-light);
                    color: var(--btn-hover-text-color);
                }
            }
        }
    }
}